# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Environment
.env
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Personal Spotify data
Spotify Extended Streaming History/
StreamingHistory_podcast_0.json
Userdata.json
Wrapped2024.json
YourSoundCapsule.json
